{% extends 'MainBundle::layout.html.twig' %}

{% set section = 'examples' %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul>
                <li><a href="{{ path('examples_dependent_selects') }}">Selects dependientes</a> - <a href="http://showmethecode.es/php/symfony/symfony2-selects-dependientes-mediante-eventos/" title="Symfony2: Selects dependientes mediante eventos">Artículo</a></li>
                <li><a href="{{ path('examples_userpassword') }}">UserPassword Constraint</a> - <a href="http://showmethecode.es/php/symfony/userpassword-constraint/" title="Symfony2: UserPassword Constraint">Artículo</a></li>
                <li><a href="{{ path('examples_impersonating') }}">Impersonating</a> - <a href="http://showmethecode.es/php/symfony/impersonating-hacerse-pasar-por-otro-usuario-en-symfony2/" title="Symfony2: Impersonating – Hacerse pasar por otro usuario">Artículo</a></li>
                <li><a href="{{ path('examples_responses') }}">Tipos de respuesta</a> - <a href="http://showmethecode.es/php/symfony/symfony2-response-responseredirect-jsonresponse-y-streamedresponse/" title="Symfony2: Response, ResponseRedirect, JsonResponse y StreamedResponse">Artículo</a></li>
                <li><a href="{{ path('examples_events') }}">Eventos</a> - <a href="http://showmethecode.es/php/symfony/symfony2-custom-events/" title="Symfony2: Custom Events">Artículo</a></li>
                <li><a href="{{ path('examples_forms') }}">Embeber formularios con relaciones</a> - <a href="http://showmethecode.es/php/symfony/symfony2-embeber-formularios-con-relaciones/" title="Symfony2: Embeber formularios con Relaciones">Artículo</a></li>
                <li><a href="{{ path('examples_virtual_forms') }}">Opción virtual en formularios</a> - <a href="http://showmethecode.es/php/symfony/symfony2-opcion-virtual-en-los-formularios/" title="Symfony2: Opción virtual en los formularios">Artículo</a></li>
                <li><a href="{{ path('examples_query_random_order') }}">Doctrine2: Ordenar aleatoriamente</a> - <a href="http://showmethecode.es/php/doctrine2/doctrine2-ordenar-aleatoriamente/" title="Doctrine2: Ordenar aleatoriamente">Artículo</a></li>
                <li><a href="{{ path('examples_query_subqueries') }}">Doctrine2: Subconsultas</a> - <a href="http://showmethecode.es/php/doctrine2/doctrine2-subconsultas/" title="Doctrine2: Subconsultas">Artículo</a></li>
                <li><a href="{{ path('examples_virtual_forms_fish_create') }}">Form Extensions</a> - <a href="http://showmethecode.es/php/symfony/symfony2-form-extensions/" title="Symfony2: Form Extensions">Artículo</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% set code = code(_self) %}
