{% extends '::base.html.twig' %}

{% set section = section is defined ? section : 'homepage' %}

{% block body %}
    {% block navbar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{{ path('homepage') }}">Show me the code!</a>
                    <div class="nav-collapse collapse">
                        {% include 'MainBundle::menu.html.twig' with {'section': section} only %}
                    </div><!--/.nav-collapse -->
                    {% block user_info %}
                        <div class="pull-right">
                            <ul class="nav pull-right">
                                <li class="dropdown">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            {{ app.user.username }}
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{{ logout_path('secured_area') }}">Logout</a></li>
                                        </ul>
                                    {% else %}
                                        <a href="#">
                                            Anonymous
                                        </a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}

        <div class="container">
            <div class="row">
                <div class="span12">
                    {% if app.session.flashbag.has('smtc_success') %}
                        <div class="alert alert-success">
                            {% for flashMessage in app.session.flashbag.get('smtc_success') %}
                                <p>{{ flashMessage }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            {% block content %}{% endblock %}

            {% if code is defined %}
                <hr>
                <div class="row">
                    <div class="span12">
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#shomethecode">
                            Show me the code! <b class="caret"></b>
                        </button>

                        <div id="shomethecode" class="collapse">{{ code|raw }}</div>
                    </div>
                </div>
            {% endif %}

            <hr>
            {% block footer %}
            <footer>
                <p>&copy; Showmethecode.es {{ "now"|date("Y") }}</p>
            </footer>
            {% endblock %}

        </div> <!-- /container -->
{% endblock %}
